/*-------------------- Body ---------------------*/
body,
html {
  height: 100%;
  width: 100%;
  margin: 0%;
  font-family: "Open Sans Condensed", sans-serif; /* Font  for the whole website */
  overflow: hidden;
}
body {
  background: linear-gradient(15deg, #111 50%, #333 50.1%); /* For the people with shit internet that wont load the video or an issue with the source of the video */
}
/*-------------------- Card ---------------------*/
.hvh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 400px;
  background:rgba(192, 185, 185, 0.9); /* Box Color */
  overflow: hidden;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  z-index: 2;
}
.hvh .title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 50px;
  color: #a865c0; /* Color For Title */
  margin-bottom: 5px;
}
.hvh pfp {
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none !important;
}
.hvh pfp img {
  margin: 0px 0 0px;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}
.hvh .desc {
  font-size: 17px;
  opacity: 0.8;
  margin-bottom: 3px;
  color: white; /* Description Text Color You Can Use Hex Colors Instead Of Defualt Ex. #ff0000  */
}
.hvh .spc {
  padding: 20px 20px 5px; /* Spacing */
}
.hvh .spc::after {
  content: "";
  display: table;
  clear: both;
}
.hvh .btn {
  position: relative;
  z-index: 1;
  float: center;
  display: inline-block;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ae00ff; /* Button Text Color */
  padding: 12px 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 1;
  margin: 5px;
  border: none;
  background: none;
  outline: none;
  border: 1px solid #ae00ff; /* Button Border Color */
  border-radius: 20px;
  overflow: hidden;
}
.hvh .btn .bg {
  width: 100%;
  height: 100%;
  display: block !important;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(135deg, #9a13a6, #8634d3);
}
.hvh .btn:hover {
  color: #fff !important;
  border: 2px solid transparent !important;
}
.hvh .btn:hover .bg {
  opacity: 1;
}
  /*-------------------- Song Name / Song Title --------------------*/
.song-name {
  z-index: 1;
  float: left;
  margin: 0%;
  padding: 0px 15px;
  font-size: 12px;
  font-weight: 900;
  position: absolute;
  text-transform: uppercase;
  color: white;
  transition: all 0.3s ease-in-out;
}
/*-------------------- Background --------------------*/
.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(15deg, #ae34d3 50%, #8413a6 50.1%);
  z-index: 1;
  display: none;
}
video {
  position: fixed;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  left: 0px;
  top: 0px;
  margin: 0%;
  overflow: hidden;
  opacity: 1;
  z-index: 0;
}
  /*-------------------- Time / CLock --------------------*/
.time {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
}
/* Kalix.tk */

        /* Estilo para el modal */
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            justify-content: center;
            align-items: center;
        }
        
        .modal-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            position: relative;
        }

        /* Estilo para cerrar el modal */
        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 20px;
			color: red;
        }

        /* Estilo para el mensaje de error */
        .error-message {
            color: red;
            margin-top: 10px;
        }
